@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

/* Global Styles */
:root {
  /* --primary-color: #1ceacf; */
  --primary-color: #51b6c4;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  /* margin: 0; */
  padding: 0;
}

body {
  padding: 0;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  /* line-height: 1.6; */
  background-color: #333333;
  color: aliceblue;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  background-color: #51b6c4;
  color: #333;
}

.navLink {
  text-decoration-line: none;
  color: #333333;
  position: relative;
  bottom: 17px;
  left: 6px;
  font-size: 32px;
}

/* Landing Page */
.flex-container {
  width: 100%;
  color: aliceblue;
  text-align: center;
  /* display: grid; */
  /* background-color: #333333; */
}

/* .menu {
  grid-column: 1;
  grid-row: 1;
} */

.search {
  /* grid-column: 2 / span 6;
  grid-row: 1;
  margin-right: 20%; */
  /* display: grid; */
}

.formInput {
  background-color: #333333;
  width: 50%;
  height: 60px;
  border: 1px solid black;
  font-size: 20px;
  color: grey;
  margin-left: 19px;
}

.formInput:-internal-autofill-selected {
  background-color: #333333;
}
